.typeahead, .tt-query, .tt-hint {
	border: 1px solid #CCCCCC;
	height: 34px;
	line-height: 30px;
	outline: medium none;
	width: 396px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 1px solid #0097CF;
}
/*.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}*/
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	/*border-radius: 8px;*/
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 10px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 12px;
	line-height: 15px;
	padding: 3px 10px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}